html, body {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center
{
  text-align: center;
}
.orange
{
  color:orange
}

.sofia
{
  font-family: "Sofia", sans-serif;
}


